@import "tailwindcss";

@theme {
  --color-bg: #E4E3E0;
  --color-ink: #141414;
  --color-line: #141414;
}

body {
  background-color: var(--color-bg);
  color: var(--color-ink);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
